<section class="card">
  <a href="api/blogposts/edit/{{blogpost_id}}">
  <div class="summary">
      <div>
        <b class="post-title">{{title}}</b>
      </div>
      <div>
        <small class="post-info">{{format_date create_date}} </small>
      </div>
  </div>
  </a>
</section>
