<head>
    <link rel="stylesheet" href="/css/blogpostcomment.css">
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

<div id="all-post-data">
  {{!-- Send all post with all comments to partial  blogpost-comments--}}
  {{> blogpost-comments blogpost}}
</div>



<script src="../js/new-comment.js"></script>