<head>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>

{{!-- Send post with all comments to partial  blogpost-summary--}}
{{#each blogposts as |blogpost|}}
{{> blogpost-summary}}
{{else}}
    <p>No posts yet.</p>
{{/each}}


<div class="anchor-container">
    <a href="./new_post" class="add-post"><b>+ New Post</b></a>
</div>
