<head>
    <link rel="stylesheet" href="/css/update.css">
</head>

<section class="card">
    <header class="summary">
      <h2>Update your post</h2>
    </header>

    <form class="form post-form">
        <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title" value="{{blogpost.title}}" />
        </div>
        <div class="form-group">
        <label for="content">Content:</label>
        <input class="form-input" type="text" id="content" value="{{blogpost.content}}" />
        </div>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Update</button>
        </div>
    </form>
    <button class="btn btn-primary delete" type="submit">Delete</button>

</section>

<script src="/js/update-post.js"></script>
