<head>
    <link rel="stylesheet" href="/css/login-signup.css">
</head>

<div class="new-post-card">
<h2 class="page-title">Login</h2>
<form class="form new-post-form">
    <div class="form-group">
    <label for="title">Title:</label>
    <input class="form-input" type="text" id="title" />
    </div>
    <div class="form-group">
    <label for="content">Content:</label>
    <input class="form-input" type="password" id="content" />
    </div>
    <div class="form-group">
    <button class="btn btn-primary" type="submit">Create</button>
    </div>
</form>
</div>

<script src="./js/login.js"></script>