<head>
    <link rel="stylesheet" href="/css/login-signup.css">
    <link rel="stylesheet" href="/css/new-post.css">
</head>
<section>
    <div class="new-post-card">
    <h2 class="page-title">Create New Post</h2>
    <form class="form new-post-form">
        <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title" />
        </div>
        <div class="form-group">
        <label for="content">Content:</label>
        <input class="form-input" type="text" id="content" />
        </div>
        <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
        </div>
    </form>
    </div>
</section>

<script src="./js/create-post.js"></script>