section {
    width: 95vw;
}

input {
    width: 70vw;
    padding: 1vw;
    margin: 1vw;
}

label {
    color: var(--main-bg-color);
    font-weight: 700;
    font-size: 3vh;
}

.comments {
    padding: 0 0 15vh 0;
}

.comment {
    padding: 1vw 4vh;
    border-bottom: .4vh solid var(--main-text-color);
}

.card > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--main-bg-color);
}


.add-comment {
    background-color: var(--alt-bg-color);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    align-items: flex-end;
    bottom: 2vh;  
}

.form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.btn-primary {
    font-size: 2vh;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    padding: 1vh 2vw;
    border: none;
}

#all-post-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}