.summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

.anchor-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    align-items: flex-end;
    bottom: 2vh;
    
}
.add-post {
    font-size: 3vh;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    /* padding: 2vw; */
    text-decoration: none;
    align-self: end;
}