
.btn-container {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    align-items: flex-end;
    bottom: 2vh;
}
.add-post {
    font-size: 3vh;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    padding: 2vw;
    
    align-self: end;
}