:root {

    --main-text-color : #071952;
    --main-bg-color : #FFB22C;
    --alt-bg-color : #a77725;
}

body {
    background-color: var(--main-bg-color);
    margin: 0;
    font-family: monospace, monospace;
    color: var(--main-text-color);
}

button {
    background-color: #00000000;
    border: none;
}

header {
    margin: 0 0 3vh 0;
    padding: 2vh;
    background-color: var(--main-text-color);
}

.card {
    margin: 3vh;
    border: 0.5vw solid var(--main-text-color);
}

.card > a{
    text-decoration: none;
    color: var(--main-text-color);
}


.card > a > header {
    color: var(--main-bg-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-title {
    font-size: 3vh;
}


.nav-link {
    font-size: 3vh;
    margin: 0 2vw;
    text-decoration: none;
    color: var(--main-bg-color);
}

#main-title {
    padding: 3vh;
    background-color: var(--main-bg-color);
    display:inline-block; 
    color: var(--main-text-color);
    font-size: 3vw;
    
}