.form-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 2vh;
}

.form-group > .btn-primary{
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    border: 0;
    height: 5vh;
    width: 10vw;
    font-size: large;
    margin: auto;
}


div[class$="card"] {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}