section {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

div[class$="card"] {
    width: 75vw;
    border: 1vh solid var(--main-text-color);
    padding: 2vw;
}

input {
    width: 70vw;
    padding: 1vw;
    margin: 1vw;
}



