label, input {
    width: 85vw;
    padding: 1vh;
    margin: 0 1vh;
}

.card {
    display: flex;
    flex-direction: column;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vh 1vw;
}

.post-form {
    padding: 0 1vh;
}

.summary {
    padding: 0.5vh;
    background-color: var(--main-text-color);
    color: var(--main-bg-color);
}

.btn-primary {

    margin: 0 auto 2vh auto;
    width: 30vw;
    font-size: 3vh;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);
    padding: 2vw;
    text-decoration: none;
}